<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="login-box">
    <form th:action="@{/register}" th:object="${user}" method="post">
        <h1>Giriş</h1>
        <div class="alert alert-dismissible alert-danger" th:if="${#fields.hasErrors('*')}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <ul>
                <li th:each="err : ${#fields.detailedErrors('*')}"><span th:text="${err}">Errors</span></li>
            </ul>
        </div>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <div class="textbox">
            <i class="fas fa-user"></i>
            <input type="text" th:field="*{FirstName}" placeholder="First name"/>
        </div>
        <div class="textbox">
            <i class="fas fa-user"></i>
            <input type="text" th:field="*{LastName}" placeholder="Last name"/>
        </div>
        <div class="textbox">
            <i class="fas fa-user"></i>
            <input type="text" th:field="*{Username}" placeholder="username"/>
        </div>
        <div class="textbox">
            <i class="fas fa-user"></i>
            <input type="text" th:field="*{Email}" placeholder="Email"/>
        </div>
        <div class="textbox">
            <i class="fas fa-lock"></i>
            <input type="password" name="password" placeholder="password"/>
        </div>
        <select name="color">
            <option th:each="roleOpt : ${T(com.example.demo.enums.RoleType).values()}"
                    th:value="${roleOpt}" th:text="${roleOpt}"></option>
        </select>
        <input type="submit" class="btn" value="Register">
    </form>
</div>



</body>
</html>